# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Base de datos local
database.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
*.swo

# IDE
.vscode/
.idea/

# Flask
instance/
.webassets-cache

# Archivos de configuración local
config.local.py
.env
